.container {
    background-color: aliceblue;
    margin: 30px auto;
    width: 1000px;

    display: grid;

    grid-template-rows: 250px 150px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 5fr 2fr;

    column-gap: 20px;
    row-gap: 30px;

    gap: 25;

}

.item {
    background-color: cadetblue;
}

.item--1 {
    background-color: blueviolet;
}

.item--2 {
    background-color:chocolate;
}

.item--3 {
    background-color: cornflowerblue;
}

.item--4 {
    background-color: darkcyan;
}

.item--5 {
    background-color: darkolivegreen;
}

.item--6 {
    background-color: hotpink;
    
}