/* .container {
    background-color: aliceblue;
    width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-rows: 100px 200px 500px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
    background-color: red;
    margin: 10px;
}

.item--1 {
    grid-column: 1/-1;
}

.item--5 {
    grid-row: 2 / span 2;
    grid-column: 4 / -1;
}

.main {
    grid-column: 1 / span 3;
}

.footer {
    grid-column: 1/ -1;
} */

/* Give names to the cells */
/* .container {
    background-color: aliceblue;
    width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-rows: [head-start] 100px [header-end box-start] 200px [box-end main-start] 500px [main-end footer-start] 100px [footer-end];
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 2fr [grid-end];
}

.item {
    background-color: red;
    margin: 10px;
}

.header {
    grid-column: col-start 1 / grid-end;
}

.sidebar {
    grid-row: box-start / main-end;
    grid-column: col-end 3 / grid-end;
}

.main {
    grid-column: col-start 1 / col-end 3;
}

.footer {
    grid-column: col-start 1 / grid-end;
}
*/

/* Grid area */
.container {
    background-color: aliceblue;
    width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-rows: 100px 200px 500px 100px;
    grid-template-columns: 1fr 1fr 1fr 2fr;

    grid-template-areas: "header header header header"
                         "box-1 box-2 box-3 side"
                         "main main main side"
                         "footer footer footer footer";
}

.item {
    background-color: red;
    margin: 10px;
    padding: 0px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    column-gap: 10px;
}

.box-1 {
    grid-area: box-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.box-1-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.box-2 {
    grid-area: box-2;
}

.box-3 {
    grid-area: box-3
}

.sidebar {
    grid-area: side;
    display: flex;
    flex-direction: column;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .main-number {
        display: flex;
        justify-content: space-between;

        .main-number-item {
            display: flex;
            flex-direction: column;

            border-right-color: bisque;
            border-right-width: 1px;
            border-right-style: solid;
            padding-right: 10px;
        }
    }
}

.main-header {
    display: flex;
    justify-content: space-between;

    .main-header-name {
        display: flex;
        flex-direction: column;
    }
}



.footer {
    grid-area: footer
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 1,
    'opsz' 24
}
.icon {
  font-size: 40px;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
}
